{% extends 'base.html.twig' %}

{% block container %}

	<div class="jumbotron">
		Nombre: {{ name | title }}
		<br>
		Apellido: {{ lastname }}
	</div>

	{{ "now" | date('H:i','America/New_york') }}<br>
	{{ "yesterday" | date }}<br>
	{{ "tomorrow" | date }}<br>
{% endblock %}